{% extends 'base.html' %}

{% block title %}Удаление поставки{% endblock %}

{% block content %}
     <div class="text-center py-5 mb-4 text-white" style="background-color: #dc3545;">
        <h2>Удаление поставки</h2>
    </div>
    <div class="container">
        <div style="left: 50%;margin-left: -190px;position: absolute;width: 400px;margin-top: 2%;">
        <form method="POST">
            {% csrf_token %}
          <h4>Вы уверены, что хотите удалить выбранную поставку?</h4>
            <button class="w-100 mt-3 mb-2 btn btn-outline-danger btn-md" type="submit">Да</button>
        </form>
            <a href="{% url 'supply' %}"><button class="w-100 btn btn-outline-primary">Нет</button></a>
        </div>
    </div>
{% endblock content %}